app-section {
    width: 100%;
}

.empty-img {
    opacity: 0.5;
    height: 150px;
    width: 150px;
}
.emptyDiv {
    margin-top: 20px;
    text-align: center;
    justify-content: center;
   }
  
   .emptyText {
    margin-bottom: 10px;
    font-size: 20px;
   }
  