  <!-- Post -->
  <div class="post">
    <div class="user-block">
      <img
        class="img-circle img-bordered-sm"
        src="{{ topic.authorPhoto }}"
        alt="user image"
      />
      <span class="username">
        <a href="#">{{ topic.authorName }}</a>
      </span>
      <span class="description"
        >Shared publicly - {{ topic.created | date: "medium" }}</span
      >
    </div>
    <!-- /.user-block -->
    <quill-view-html 
    [content]="topic.content"
    theme="snow"></quill-view-html>


    <p>
      <button
        type="button"
        class="btn btn-sm link"
        (click)="toggleLike()"
        [ngClass]="{ 'btn-success': isLiked, 'btn-default': !isLiked }"
      >
        <i class="far fa-thumbs-up"></i> Like
      </button>
      <a (click)="openModal()" class="float-right text-muted "
        ><u>{{ topic.likes.length }} likes </u></a
      >
    </p>
  </div>

  <!-- /.post -->
