<table class="table table-striped projects">
  <thead>
    <tr>
      <th style="width: 1%"></th>
      <th style="width: 40%"></th>
      <th style="width: 20%"></th>
      <th></th>
      <th style="width: 10%" class="text-center"></th>
    </tr>
  </thead>
  <tbody>
    <tr class="link" *ngFor="let topicData of topicsData"  routerLink="thread/{{ topicData.id }}">
      <td>
        <i *ngIf="topicData.isPinned" class="fas fa-thumbtack"></i>
      </td>
      <td>
          <a style="font-weight: bold;">
              {{topicData.title}}
          </a>
          <br/>
          <small>
            {{topicData.content | slice:0:100 }}...
          </small>
      </td>
      <td>
          <ul class="list-inline">        
              <li class="list-inline-item">
                  <img alt="Avatar" class="table-avatar" src="{{topicData.authorPhoto}}">
              </li>
              <li class="list-inline-item">
                {{topicData.authorName}}
              </li>
          </ul>
      </td>
      <td class="project_progress">
         <small style="font-weight: bold;">Created: </small>
         <small>{{topicData.created | date:'medium'}}</small>
      <br/>
      <small style="font-weight: bold;">Last Active: </small>
      <small>{{topicData.created | date:'medium'}}</small>
      </td>
      <td class="project-state">
          <span class="badge badge-success">Success</span>
      </td>
     
      </tr>  </tbody>
</table>