<app-content-header [breadcrumb]="'Thread'" [title]="topic.title"></app-content-header>
<div class="card mx-2"> 
  <!-- /.card-header -->
  <div class="card-body">
    <app-topic-detail [topic]="topic"></app-topic-detail>
   </div>
</div>

<div class="card  mx-2">
  <!-- /.card-header -->
  <div class="card-body" style="padding: 10px;"
   id="P{{post.id}}" 
   *ngFor="let post of topic.posts" class="normal">
    <app-post-detail       
      [postData]="post"
    ></app-post-detail>
  </div>
</div>

<div class="card mx-2" id="editor">
  <div class="card-header"><strong>Submit Reply</strong></div>
  <!-- /.card-header -->
  <div class="card-body">
    <app-editor #editor></app-editor>
    <div class="text-right mt-3">
      <button [disabled]="!editorComponent.editorForm.valid"     
        (click)="onSubmit()"
        class="btn btn-md btn-primary"
      >
        <i class="fas fa-paper-plane mr-2"></i> <strong>Submit</strong>
      </button>
    </div>
  </div>
  </div>