<app-content-header [title]="'Topic'"></app-content-header>
<div class="card mx-2">
  <div class="card-header p-2">
    <ul class="nav nav-pills text-center">
      <h5>{{ topic.title }}</h5>
    </ul>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <app-topic-detail [topic]="topic"></app-topic-detail>
   </div>
</div>

<div class="card  mx-2">
  <div class="card-header"></div>
  <!-- /.card-header -->
  <div class="card-body" id="P{{post.id}}" *ngFor="let post of topic.posts" class="normal">
    <app-post-detail       
      [postData]="post"
    ></app-post-detail>
  </div>
</div>

<div class="card mx-2" id="editor">
  <div class="card-header"><strong>Submit Reply</strong></div>
  <!-- /.card-header -->
  <div class="card-body">
    <app-editor (Submit)="onSubmit($event)"></app-editor>
  </div>
  </div>