<app-content-header [title]="'Topic'"></app-content-header>
<div class="card">
  <div class="card-header p-2">
    <ul class="nav nav-pills text-center">
      <h5>{{ topic.title }}</h5>
    </ul>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <app-topic-detail [topic]="topic"></app-topic-detail>
   </div>
</div>

<div class="card" style="background-color: #f7fbfd">
  <div class="card-header"></div>
  <!-- /.card-header -->
  <div class="card-body">
    <app-post-detail
      *ngFor="let post of topic.posts"
      [postData]="post"
    ></app-post-detail>
  </div>
</div>

<app-editor (Submit)="onSubmit($event)"></app-editor>