<!-- Content Header (Page header) -->
<app-content-header [title]="'Forums'"></app-content-header>
<div class="row px-1">
  <div class="col-lg">
    <button class="btn btn-md btn-success float-right" (click)="openModal(0)">
      <i class="fas fa-plus-square mr-2"></i> <strong>New Thread</strong>
    </button>
  </div>
</div>
<hr />
<app-section 
*ngIf="latestTopics.length > 0"
[class]="'danger'"  
[title]="'Latest Threads'"
[topics]="latestTopics"
></app-section>
<app-section class="link"
 *ngFor="let forumSection of forumSections"
 [id]="forumSection.id"
 [title]="forumSection.name"
 [topics]="forumSection.topics"></app-section>