.login-page {
    background-image: url('../../../assets/img/home.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: cover; /* Resize the background image to cover the entire container */
}